In [1]:
import pandas as pd
groceries = pd.read_csv("main.csv")
groceries.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [2]:
groceries.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs

In [3]:
groceries[3:]

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg
5,1001,tomato,vegetable,2021-11-06,2.99,20,kg
6,1001,tomato,vegetable,2021-11-07,2.99,21,kg
7,1001,tomato,vegetable,2021-11-08,2.99,20,kg
...,...,...,...,...,...,...,...
295,1203,butter-0.25,dairy,2021-11-26,11.90,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.90,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.90,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.90,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.90,36,pcs

In [4]:
groceries.groupby('product_description')['price'].mean()

product_description
apple           2.077778
butter-0.25    11.400000
cucumber        4.532857
grape           4.400000
milk-1.5        6.078571
onion           2.150714
orange          2.714286
plum            4.389655
tomato          3.121034
yogurt-1        6.693103
Name: price, dtype: float64

In [5]:
groceries.groupby('product_description')['price'].sum()

product_description
apple           56.10
butter-0.25    319.20
cucumber       126.92
grape          132.00
milk-1.5       170.20
onion           60.22
orange          76.00
plum           127.30
tomato          90.51
yogurt-1       194.10
Name: price, dtype: float64

In [6]:
groceries["price_new"] = groceries['price'].fillna(
   groceries.groupby('product_description')['price'].transform("mean")
)

In [7]:
groceries[groceries["price"].isna()].head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg,3.121034
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg,4.532857
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg,4.532857
73,1003,onion,vegetable,2021-11-14,NaN,39,kg,2.150714
74,1003,onion,vegetable,2021-11-15,NaN,25,kg,2.150714